// JAVASCRIPT
// =================================================
// jQuery [ REQUIRED ]
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
// BootstrapJS [ RECOMMENDED ]
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js',integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
// NiftyJS [ RECOMMENDED ]
script(src=base_url+'assets/nifty/js/nifty.min.js')

// =================================================
// Demo script [ DEMONSTRATION ]
script(src=base_url+'assets/nifty/js/demo/nifty-demo.min.js')
// Flot Chart [ OPTIONAL ]
script(src=base_url+'assets/nifty/plugins/flot-charts/jquery.flot.min.js')
script(src=base_url+'assets/nifty/plugins/flot-charts/jquery.flot.resize.min.js')
script(src=base_url+'assets/nifty/plugins/flot-charts/jquery.flot.tooltip.min.js')
// Sparkline [ OPTIONAL ]
script(src=base_url+'assets/nifty/plugins/sparkline/jquery.sparkline.min.js')
// Specify page [ SAMPLE ]
script(src=base_url+'assets/nifty/js/demo/dashboard.js')